<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner h-50">
      <div class="carousel-item active">
        <img src="../../../assets/banner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>